body{
  margin: 0;
  padding:0;
  background-color: white;
}

a{
  text-decoration: none;
}



.socials{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center ;
 

}

.socials a{
  padding: 20px;
  
  font-size: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  color: rgb(223, 138, 206);
 }

.socials a:hover{
  color:rgb(207, 7, 174)
} 

#contact{
  position: absolute;
  left: 15%;
  display: flex;
  align-items: center;

}

.form{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 216, 239);
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  margin-top: 20px;
  
  
  }


h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 2rem;
  margin: 0;
  color: rgb(208, 104, 243);
  padding: 0;
}
.c-input{
   margin: 10px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.c-input input{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 1rem;
  height: 35px;
  width: 250px;
  margin: 8px 0px;
  border: none;
  outline: none;
  border-bottom:  2px solid rgb(208, 104, 243);
  background: transparent;
}

textarea{
  background: transparent;
  width: 250px;
  padding: 12px;
  margin: 12px;
  height:200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 1rem;
  border: 1px solid rgb(186, 92, 218);
  outline: none;
}

button{
  width: 200px;
  height: 40px;
  color:rgb(128, 10, 151);
  transition-duration: 0.4s;
  font-weight: bold;
  font-size: medium ;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 10px;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 2px solid rgb(197, 127, 221);
}

button:hover{
  cursor: pointer;
  background-color: rgb(208, 104, 243);
}

.map{
  filter: grayscale(0.2);
  box-shadow: 2px 2px 30px gray;
  border: 2px solid white;
}

 



